<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_controle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_controle_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControleDeContas"
        tools:targetApi="31">

        <activity
            android:name=".CategoriasActivity"
            android:exported="false"
            android:theme="@style/Theme.ControleDeContas.NoActionBar">
        </activity>
        <activity
            android:name=".CategoriaActivity"
            android:exported="false"
            android:theme="@style/Theme.ControleDeContas.NoActionBar">
        </activity>
        <activity
            android:name=".ConfiguracaoActivity"
            android:exported="false"
            android:theme="@style/Theme.ControleDeContas.NoActionBar" />
        <activity
            android:name=".SobreActivity"
            android:exported="false"
            android:theme="@style/Theme.ControleDeContas.NoActionBar" />
        <activity
            android:name=".ContasActivity"
            android:exported="true"
            android:theme="@style/Theme.ControleDeContas.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContaActivity"
            android:exported="false"
            android:theme="@style/Theme.ControleDeContas.NoActionBar" />
    </application>

</manifest>